<h3><%= t('mailer.greeting') %>, <%= @user.first_name %>!</h3>

<p><%= t('mailer.instruction') %></p>

<p><%= link_to t('mailer.action'), ENV['RESET_PASSWORD_LINK'] + "#{@user.reset_password_token}"%></p>

<p><%= t('mailer.instruction_2') %></p>
<p><%= t('mailer.instruction_3') %></p>
